  <nav class="container-fluid navbar">
    <div class="container">
      <div class="nav-brand">
        <a href="/">
          <img class="logo" src="assets/images/logo.png" alt="" />
        </a>
      </div>
    </div>
  </nav>

  <section class="container-fluid">
    <div class="container page-content">
      <div class="navigation">
        <ul>
          <li class="nav-item">
            <a class="nav-link" href="/attendance">
              <div class="feature-icon onboarding"></div>
              <div class="feature-name">
                <h2>Điểm danh bắt đầu/ Kết thúc làm</h2>
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/edit-user">
              <div class="feature-icon user"></div>
              <div class="feature-name">
                <h2>Xem/ Sửa thông tin cá nhân</h2>
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/statistic">
              <div class="feature-icon lookup"></div>
              <div class="feature-name">
                <h2>Tra cứu thông tin giờ làm - lương</h2>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/attendance-details">
              <div class="feature-icon confirm"></div>
              <div class="feature-name">
                <h2>Xác nhận dữ liệu giờ làm</h2>
              </div>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/covid">
              <div class="feature-icon covid"></div>
              <div class="feature-name">
                <h2>Thông tin Covid cá nhân</h2>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="main">