@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  margin: 0;
}

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0;
  }

  .container {
    max-width: 95%;
  }
}

section {
  height: 100vh;
  background: #f0f2f5;
}

.navbar {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.logo {
  font-size: 1rem;
  object-fit: 100%;
}

.page-content {
  display: flex;
  padding: 0;
}

.navigation {
  text-align: left;
  width: 30%;
  padding: 1rem 0;
}

.nav-item {
  font-size: 1.2rem;
  transition: all 300ms ease;
}

.nav-item:hover {
  background: #e4e6e9;
  border-radius: 10px;
}

.navigation .nav-link {
  padding: 1rem;
  color: black;
}

.main {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
